.header {
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 80px;
  background-color: #8ED0F5;

  margin-bottom: 100px;

  a {
    img {
      margin-top: -25px;
      width: 160px;
      height: 160px;
    }
  }
}